<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.modules.study">

    <application>
        <activity android:name="com.modules.study.touch.TouchActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.modules.study.test.DatabaseTestActivity"
            android:exported="true" />
        <activity
            android:name="com.modules.study.test.TestActivity"
            android:exported="true" />
    </application>

</manifest>