<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.modules.study">

    <application>
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".touch.TouchActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.DatabaseTestActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TestActivity"
            android:exported="true" />
    </application>

</manifest>